@charset "utf-8";

.searchBox{ width: 100%;height: 1.2rem;background: #f2f2f2;}
.searchCon{ margin-left:0.2rem;margin-top: 0.2rem;width: 75%;height: 0.8rem;overflow: hidden;position: relative;}
.searchCon input{position: absolute;left:0;top:0;padding-left: 0.8rem;width: 80%;height: 100%;outline: none;border: none;border-radius: 20px;font-size: 0.32rem;}
.searchCon i{ position: absolute;left:0;top:0;width: 0.8rem;height: 100%;background: url(../img/searchbtn2.png) no-repeat center center;background-size:50%;}
.searchbtn2{ margin: 0.2rem 0.2rem 0 0;width: 18.6%;height: 0.8rem;border-radius: 20px;text-align: center;line-height: 0.8rem;font-size: 0.32rem;color: #fff;background: #1da0ef;}

.wordsBox{ width: 100%;}
.wordsBox h3{ height: 1.04rem;line-height: 1.04rem;padding-left: 0.36rem;font-size: 0.32rem;color: #999;}
.hotwords{ margin: 0 0.36rem;}
.hotwords span{ height: 0.56rem;border: 2px solid #ddd;border-radius: 20px;line-height: 0.56rem;text-align: center;color: #333;font-size: 0.3rem;padding: 0 0.25rem;margin: 0 0.2rem 0.2rem 0;}

.footerBox{ width: 100%;height: 0.88rem;text-align: center;line-height: 0.88rem;color: #fff;background: #1da0ef;font-size: 0.3rem;position: fixed;left: 0;bottom: 0;}

.searching{ margin-top: 4rem;display: none;font-size: 0.3rem;color: #999;}
.searchingpic{ display: block;width: 1.18rem;height: 1.18rem;background: url(../img/searching.png) no-repeat;background-size: 100%;margin: 0 auto;}
.searchingtxt{ display: block; text-align: center;margin: 0.22rem auto 0;}
.nosearch{display: none;height: 0.9rem;line-height: 0.9rem;background: url(../img/nosearch.png) no-repeat 1.96rem center;background-size: 0.9rem 0.9rem;padding-left: 3.15rem;}

.searchinfo{ display: none;height: 0.74rem;line-height: 0.74rem;border-bottom: 1px solid #e5e5e5;font-size: 0.3rem;color: #999;padding-left: 0.4rem;}
.searchinfo a{ text-decoration: underline;color: #1da0ef;}

/*flex布局 注意兼容*/
.search_nav{ display: -webkit-flex;display: flex;justify-content: space-between;height: 0.8rem;border-bottom: 1px solid #e5e5e5;font-size: 0.3rem;color: #333;margin-bottom: 0.1rem;}
.search_nav span{line-height: 0.8rem;border-bottom: 2px solid transparent; padding: 0 0.4rem;}
.search_nav span.on{ border-bottom: 2px solid #2095dd;}

/*toast*/
.toast{z-index:10000;font-size: 0.3rem;position: fixed;bottom:45%;width: 100%;opacity:0;height: 40px;display: none;-webkit-transition: opacity 1s ease-out;transition: opacity 1s ease-out;}
.toast .toasttxt{ color:#fff;background: #313138;border-radius: 10px;text-align: center;width:60%;height:40px;line-height:40px;margin: 0 auto;}
